UnitTestingProject/Debug/*
UnitTestingProject/ipch/*
UnitTestingProject/LogAnalyser/Debug/*
VerifLab4/Debug/*
VerifLab4/ipch/*
VerifLab4/LogAnalayser/Debug/*
VerifLab5Manual/Debug/*
VerifLab5Manual/ipch/*
VerifLab5Manual/LogAnalayser/Debug/*
